@{
    ViewBag.Title = "Index";
}

<aside class="left">
    <h3>Transport Locations</h3>
    <p>In this section you can find all the information you need about tranportation. </p>
    <p>You can view the locations of bus stations, taxi station and subway stations.</p>
    <p>And we also show you on this page the current average prices of these services.</p>
    <p>You can also find on this section a tool that allows you to generate</p>
    <p>an optimal route between two places.</p>
</aside>
<aside class="right" style="text-align: right">
    <h3>Localización de Transportes</h3>
    <p>En esta sección puedes encontrar toda la información que necesitas sobre los transportes.</p>
    <p>También puedes ver la localización de las estaciones de bus,taxi y subterráneo.</p>
    <p>Y también te mostramos en esta página el precio promedio actual de estos servicios.</p>
    <p>También puedes encontrar en esta seccion una herramienta que te permite generar</p>
    <p>una ruta óptima entre dos lugares.</p>
</aside>

<div class="clearfix"></div>

<table class="table table-hover table-bordered table-striped table-condensed cf">
        <tr>
            <td>Avg. Bus Price</td>
            <td>Avg. Subway Price</td>
            <td>Avg. Taxi Per Mile Charge</td>
        </tr>
    	<tr>
            <td>$1.00</td>
            <td>$2.00</td>
            <td>$2.35</td>
        </tr>
    </tbody>
</table>

<div class="clearfix"></div>

<section style="text-align:center;" id="work"> <!-- Work Links Section Start -->
    	        
        <div class="item">
        	<a href="/Transportation/Path_Finder"><img src="Styles/Liquid_Gem/images/work/thumbs/routes.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
        	<h3>Path Finder.</h3><!--Title-->
            <p></p><!--Category-->
        </div><!--/item-->

        <div class="item">
        	<a href="/Transportation/Transportation_Location"><img src="Styles/Liquid_Gem/images/work/thumbs/transportation.jpg" alt="image 1"></a><!-- Image must be 400px by 300px -->
            <h3>Transportation Location</h3><!--Title-->
            <p></p><!--Category-->
        </div><!--/item-->
        
        <div class="clearfix"></div>
</section>