@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<article>
    <p>
        We created this site to bring help to newly arrived immigrants to the U.S.
    </p>
    <p>
        We decided to create Migrant’s Daily Living because today immigrants face the problem of having very little information about the location of certain places such as: police stations, health centers, transportation, workplaces, etc. 
    </p>
    <p>
        We decided to create Migrant’s Daily Living because today immigrants face the problem of having very little information about the location of certain places such as: police stations, health centers, transportation, workplaces, etc. 
        Our website started with the idea of providing support for people who needed to find a job in a particular city using their skills and provide information about the location of places we think are most important for immigrants, some of these places are health centers, places of transportation, places where you can send remittances, among others.
    </p>

</article>


<aside>

        <h2>Team Potato</h2>
        <table>
            <tbody>
                <tr>
                    <td style ="width:20%" title ="Nestor" aria-label="hola">
                        <img style="border-radius:50%" src="~/Images/nestor.jpg" width:20%  height:20% />
                        <p>Nestor</p>
                    </td>
                    <td></td>
                    <td style ="width:20%">
                       <img style="border-radius:50%" src="~/Images/moisa.png"  width:20%  height:20% />
                        <p>Moises</p>
                    </td>
                    <td></td>
                    <td style ="width:20%">
                        <img style="border-radius:50%" src="~/Images/juanjo.jpg"  width:20%  height:20% />
                        <p>Juan J.</p>
                    </td>
                    <td></td>
                    <td style ="width:20%">
                        <img style="border-radius:50%" src="~/Images/oso.jpg"  width:20%  height:20% />
                        <p>Juan R.</p>
                    </td>
                    <td></td>
                    <td style ="width:20%">
                        <img style="border-radius:50%" src="~/Images/juanjo.jpg"  width:20%  height:20% />
                        <p>Enrique</p>
                    </td>
                </tr>
            </tbody>
        </table>
    <p>
    </p>
</aside>