@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <style>
        #map-canvas {
            height: 300px;
            margin: 0px;
            padding: 0px;
        }
    </style> 
</head>
<body>
<aside class ="left">
    <h3>About Us</h3>
    <p>
        We created this site to bring help to newly arrived immigrants to the U.S.A
    </p>
    <p>
        We decided to create Migrant’s Daily Living because today immigrants face the problem of having very little information about the location of certain places such as: police stations, health centers, transportation, workplaces, etc. 
    </p>
    <p>
        We decided to create Migrant’s Daily Living because today immigrants face the problem of having very little information about the location of certain places such as: police stations, health centers, transportation, workplaces, etc. 
        Our website started with the idea of providing support for people who needed to find a job in a particular city using their skills and provide information about the location of places we think are most important for immigrants, some of these places are health centers, places of transportation, places where you can send remittances, among others.
    </p>      
</aside>
<aside class ="right">
    <h3>Quienes Somos</h3>
    <p>
        Creamos este sitio web para ayudar a los inmigrantes que acaban de llegar a E.U.A.
    </p>
    <p>
        Decidimos hacer Migrant’s Daily Living porque en la actualidad un gran problema es que los inmigrantes tienen muy poca información acerca de  la ubicación de ciertos lugares como ser: estaciones de policía, centros de salud, lugares de trasporte etc.
    </p>
    <p>
        Nuestro sitio web comenzó con solamente la idea de brindar un apoyo para las personas que necesitaban encontrar un trabajo en una determinada ciudad valiéndose de sus habilidades, mientras se daba el desarrollo otras ideas comenzaron a surgir, estas ideas son las de brindar no solamente información de empleos en las ciudades sino también ofrecer información de la ubicación de lugares que pensamos son los más importantes para las personas inmigrantes, algunos de estos lugares son centros de salud, lugares de trasporte o bien lugares donde se puedan realizar envió de remesas  entre otros.
    </p>
</aside>
    <h2>Team Potato</h2>
        <table style="border:0px">
            <tbody>
                <tr>
                    <td style ="width:20%" title ="Nestor" aria-label="hola">
                        <img style="border-radius:50%" src="~/Images/nestor.jpg" width:20%  height:20% />
                        <p>Nestor</p>
                    </td>
                    <td></td>
                    <td style ="width:20%">
                       <img style="border-radius:50%" src="~/Images/moisa.png"  width:20%  height:20% />
                        <p>Moises</p>
                    </td>
                    <td></td>
                    <td style ="width:20%">
                        <img style="border-radius:50%" src="~/Images/juanjo.jpg"  width:20%  height:20% />
                        <p>Juan J.</p>
                    </td>
                    <td></td>
                    <td style ="width:20%">
                        <img style="border-radius:50%" src="~/Images/oso.jpg"  width:20%  height:20% />
                        <p>Juan R.</p>
                    </td>
                    <td></td>
                    <td style ="width:20%">
                        <img style="border-radius:50%" src="~/Images/juanjo.jpg"  width:20%  height:20% />
                        <p>Enrique</p>
                    </td>
                </tr>
            </tbody>
        </table>
</body>
</html>