@{
    ViewBag.Title = "Página principal";
}
<section id="work"> <!-- Work Links Section Start -->
    	        
        <div class="item">
        	<a href="/JobFinding"><img src="Styles/Liquid_Gem/images/work/thumbs/job1.jpg" alt="image 2"></a><!-- Image must be 400px by 300px -->
        	<h3>Job Finding.</h3><!--Title-->
            <p>Encontrando empleo.</p><!--Category-->
        </div><!--/item-->

        <div class="item">
        	<a href="/Health"><img src="Styles/Liquid_Gem/images/work/thumbs/health.jpg" alt="image 1"></a><!-- Image must be 400px by 300px -->
            <h3>Health Care.</h3><!--Title-->
            <p>Salud.</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/Transportation"><img src="Styles/Liquid_Gem/images/work/thumbs/transportation-icons.png" alt="image 3"></a><!-- Image must be 400px by 300px -->
        	<h3>Transportation.</h3><!--Title-->
            <p>Transporte.</p><!--Category-->
        </div><!--/item-->
        
        <div class="item">
        	<a href="/Finances"><img src="Styles/Liquid_Gem/images/work/thumbs/money.jpg" alt="image 5"></a><!-- Image must be 400px by 300px -->
        	<h3>Finances.</h3><!--Title-->
            <p>Finanzas.</p><!--Category-->
        </div><!--/item-->        

        <div class="item">
        	<a href="/Laws"><img src="Styles/Liquid_Gem/images/work/thumbs/laws.jpg" alt="image 4"></a><!-- Image must be 400px by 300px -->
        	<h3>Laws.</h3><!--Title-->
            <p>Leyes.</p><!--Category-->
        </div><!--/item-->
        	
        
        <div class="clearfix"></div>
    </section>